{% extends "main.html" %}

{% block title %}PasteNote{% endblock %}

{% block content %}

<form id="mainForm">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" aria-describedby="title" placeholder="Title">
        <small id="titleHelp" class="form-text text-muted">Will be set to 'Untitled' if left blank</small>
    </div>
    <div class="form-group">
        <label for="expireIn">Expire in</label>
        <select class="form-control" id="expireIn">
          <option value="0">One hour</option>
          <option value="1">Six hours</option>
          <option value="2">Twelve hours</option>
          <option value="3">One day</option>
          <option value="4">One week</option>
          <option value="5">Never</option>
        </select>
    </div>
    <div class="form-group">
        <label for="contentText">Note content</label>
        <textarea class="form-control" id="contentText" rows="15"></textarea>
    </div>
    <button type="submit" id="button" class="btn btn-primary">Save note</button>
</form>

{% endblock %}

{% block scripts %}
<script>
    let btn = document.getElementById('button');
    btn.addEventListener('click', function(e) {
        e.preventDefault();

        let title = document.getElementById('inputTitle').value;
        let expiration = document.getElementById('expireIn').value;
        let content = document.getElementById('contentText').value;

        let request = new XMLHttpRequest();
        let formData = getFormDataObject(title, expiration, content);
        

        request.open("POST", "/notes", false);
        request.send(formData);

    });

    function getFormDataObject(title, expiration, content) {
        let formData = new FormData();
        formData.append("title", title);
        formData.append("expiration", expiration);
        formData.append("content", content);
        return formData;
    }

    function emptyContentWarning() {
        // To be implemented
    }    
</script>
{% endblock %}
